{% extends 'base.html' %}
{% block content1 %}
<div class="page-header">
    <h2>カート内商品一覧　</h2>
</div>

{% if products|length == 0 %}
<div class="alert alert-warning" role="alert">
  現在商品はありません
</div>
{% else %}
<div class="alert alert-info" role="alert">
  現在カート内には{{ products|length }}個の商品があります.
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>商品番号</th>
      <th>商品名</th>
      <th>価格</th>
      <th>個数</th>
      <th></th>
    </tr>
  </thead>
  {% for key, product in products.items %}
  <tbody>
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.order_count }}</td>
      <td style="">
        <form action="../cart_delete/{{ product.id }}/" method="post">
          <button type="submit" class="btn btn-danger">カートから商品を一つ削除</button>
          {% csrf_token %}
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
