{% extends 'base.html' %}
{% block content1 %}
<h1>カート内の商品</h1>
<table>
    <tr>
        <th>商品番号</th>
        <th>商品名</th>
        <th>価格</th>
        <th>個数</th>
    </tr>
{% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.order_count }}</td>
    </tr>
{% endfor %}
</table>

<h1>お客様情報の入力</h1>
<form action="../order_execute/" method="post">
            {% for field in form %}
            <b>{{ field.label_tag }}</b> {{ field }} {{ field.errors }} <br>
            {% endfor %}
{% csrf_token %}
<input type="submit" value="注文" />
        {% for payment in payments %}
            <input type="radio" name="payment" id="payment_name" value="{{ payment.id }}" />
            <label for="payment_name">{{ payment.name }}</label><br />
        {% endfor %}

</form>
{% endblock %}
