{% extends 'base.html' %}
{% block content1 %}
<div class="page-header">
<h2>カート内の商品</h2>
</div>
<table class="table table-hover">
    <tr>
        <th>商品番号</th>
        <th>商品名</th>
        <th>価格</th>
        <th>個数</th>
    </tr>
{% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>￥{{ product.price }}</td>
        <td>{{ product.order_count }}</td>
    </tr>
{% endfor %}
</table>

<div class="page-header">
<h2>お客様情報の入力</h2>
</div>
<form action="../order_execute/" method="post" class="h-adr form-horizontal">
            <span class="p-country-name" style="display:none;">Japan</span>
            {% for field in form %}
            <div class="form-group">
            <label class="col-sm-2 control-label"><b>{{ field.label_tag }}</b></label><div class="col-sm-10"> {{ field }} {{ field.errors }} </div>
            </div>
            {% endfor %}
{% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label"><b>決済方法: </b></label>
            <div class="col-sm-10">
        {% for payment in payments %}
            <input type="radio" name="payment" id="payment_name" value="{{ payment.id }}" required />
            <label for="payment_name">{{ payment.name }}</label><br />
        {% endfor %}
            </div>
        </div>
<div class="form-group">
<div class="col-sm-offset-2 col-sm-10">
<input type="submit" value="注文" class="btn btn-primary"/>
</div>
</div>
</form>
<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock %}
