{% extends 'base.html' %}
{% block content1 %}
<div class="page-header">
  <h2>商品一覧　<small>現在{{products|length}}種類の商品があります。</small></h2>
</div>
<div class="row">
  {% for product in products %}
    <form method="post" class="countform" action="../cart_add/">
        {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>{{ product.name }}</h3>
    </div>
    <div class="panel-body">
    <div class="media" style="padding-top:20px;">
      <a class="media-left" href="#">
        <img src="../../media/{{ product.image }}" width="100" height="100" border="0">
      </a>
      <div class="media-body" style="padding:5px;">
        <h4>
        {% if product.description %}
          {{ product.description }}
        {% else %}
          商品説明無し
        {% endif %}
        </h4>
        <div class="text-right">
        <h3>￥{{ product.price }}
        </h3>
        <p>
          {% if product.is_enabled %}
            在庫数残り{{ product.stock }}個です。
          {% else %}
            現在売り切れ中です！
          {% endif %}
        </p>
        {{ count_form }}
        <input type="hidden" name="id" value="{{ product.id }}">
        {% if product.is_enabled %}
          <button class="btn btn-primary" type="submit">カートに入れる</button>
        {% else %}
          <button class="btn btn-primary" type="submit" disabled >カートに入れる</button>
        {% endif %}
      </div>
   </form>
      </div>
    </div>
  </div>
  </div>
  {% endfor %}
  {% endblock %}
</div>
