{% extends 'base.html' %}
{% block content1 %}
<div class="page-header">
  <h2>商品一覧　<small>現在{{products|length}}種類の商品があります。</small></h2>
</div>
<div class="row">
  {% for product in products %}
  <div class="panel panel-default">
    <div class="panel-heading">
     {{ product.name }}
    </div>
    <div class="panel-body">
    <div class="media" style="padding-top:20px;">
      <a class="media-left" href="#">
        <img src="../../media/{{ product.image }}" width="50" height="50" border="0">
      </a>
      <div class="media-body">
        {{ product.description }}
        <h3>{{ product.price }}</h3>
      </div>
    </div>
  </div>
  </div>
  {% endfor %}
  {% endblock %}
</div>
